# Set the default behavior, in case people don't have core.autocrlf set.
*.VisualBasic6 linguist-detectable=true

*.txt text eol=auto
*.bas text eol=crlf
*.frm text eol=crlf
*.dsr text eol=crlf
*.vbp text eol=crlf
*.cls text eol=crlf
*.ini text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.frx binary
*.dsx binary
*.ocx binary
*.res binary
*.exe binary
*.dll binary
*.tlb binary

# Other files
*.zip binary
*.rar binary
*.7z binary
*.bin binary
*.mde binary
*.mdb binary
*.accdb binary
*.ttf binary
*.rpt binary

# Image files
*.ico binary
*.gif binary
*.jpg binary
*.bmp binary
*.png binary

# Standard to msysgit
*.docx 	binary
*.doc 	binary
*.xlsx 	binary
*.xls 	binary
*.pdf  	binary
*.rtf	binary
